<div class="row-fluid">
  <div class="span8 offset2">
    <h2>API</h2>
    <p>Med APIet kan du hente informationen som bruges her på siden og bruge i andre sammenhænge.</p>
    <p>APIet bruger almindelige HTTP requests og virker pt med POST og GET. Bruger du POST skal input være JSON.</p>
    <p>Alle returnværdier er JSON.</p>
    
    <h3>Metoder</h3>
    <hr>
    <h4>Beregn hvor meget dagen er tiltaget</h5>
    <p>Denne metode kan fortælle, hvor meget dagen er tiltaget siden forrige solhverv.</p>
    
    <h5>Endpoint</h5>
    <p><code>/api/v1/calculate</code></p>
    
    <h5>Input</h5>
    <p>Som minimum kræves der længde- og breddegrad. Du kan også angive en dato (<code>date</code>) på formatet <code>YYYY-MM-DD</code>, hvis du vil hente information om en specifik dato.</p>
    
    <ul>
      <li><code>lat</code>: breddegrad</li>
      <li><code>lng</code>: længdegrad</li>
      <li><code>date</code>: dato (valgfri)</li>
    </ul>
    
    <h5>Output</h5>
    <ul>
      <li><code>date</code><ul>
        <li><code>interpreted</code> hvad APIet har tolket et evt datoinput som (eller dags dato)</li>
        <li><code>supplied</code> den dato der blev opgivet (om nogen)</li>
        </ul></li>
      <li><code>latlng</code><ul>
        <li><code>lat</code> breddegrad som blev brugt</li>
        <li><code>lng</code> længdegrad som blev brugt</li>
        </ul></li>
      <li><code>day_length</code><ul>
        <li><code>hours</code> antal timer med dagslys</li>
        <li><code>minutes</code> antal minutter med dagslys (udover timerne)</li>
        </ul></li>
      <li><code>solstice</code> dato for forrige vintersolhverv (på formen YYYY-MM-DD)</li>
      <li><code>hours</code> antal timer dagen er blevet længere</li>
      <li><code>minutes</code> antal minutter (i tillæg til timerne)</li>
      <li><code>difference</code> forskellen fra dagen før</li>
    </ul>
    
    <hr>
    
    <h4>Dato for næste solhverv</h4>
    <p>Returnerer dato for næste solhverv, det vil sige enten sommer- eller vintersolhverv.</p>
    
    <h5>Endpoint</h5>
    <p><code>/api/v1/next-solstice</code></p>
    
    <h5>Input</h5>
    <p>Ingen.</p>
    
    <h5>Output</h5>
    <ul>
      <li><code>next_solstice</code>: Dato for næste solhver på formen YYYY-MM-DD.</li>
    </ul>
    
    <hr>
      
    <h3>Projekter</h3>
    <p>Indtil videre er der et projekt, som bruger APIet:</p>
    <ul>
      <li><a href="https://github.com/kthu/gnome-shell-extension-weather">Gnome Shell extension weather</a></li>
    </ul>
    <p>Hvis du har startet et projekt, som bruger data fra sidensolhverv.dk, så
      <a href="mailto:ricco@fiskeben.dk">send en mail</a> med detaljer om projektet, hvis du har lyst til at
      komme på listen.</p>
  </div>
</div>