<div id="messagepane" class="row">

</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <div id="map-container">
      <div id="map_canvas" class="well"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= @google_maps_api_key %>"></script>

<script type="text/javascript">
  var presets;
  <% unless presets.empty? %>
  presets = <%= presets.to_json %>;
  <% end %>
</script>

<script src="/assets/app.js" type="text/javascript" charset="utf-8"></script>
