<!DOCTYPE html>
<html>
  <head>
    <title>Hvor meget er dagen tiltaget?</title>
    <meta property="og:description" content="Se hvor meget dagen er tiltaget siden sidste vintersolhverv. Det er godt for vinterdepressionen." />
    <meta property="og:image" content="http://sidensolhverv.dk/solhverv.jpg" />
    <meta property="og:title" content="Hvor meget er dagen tiltaget?" />
    <meta property="og:url" content="http://sidensolhverv.dk/" />
    <script src="/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="Bootstrap" charset="utf-8"/>
    <style type="text/css">
          body {
            padding-top: 20px;
            padding-bottom: 40px;
          }

          /* Custom container */
          .container-narrow {
            margin: 0 auto;
            max-width: 700px;
          }
          .container-narrow > hr {
            margin: 30px 0;
          }

          .jumbotron {
            margin: 60px 0;
            text-align: center;
          }
          .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
          }
          
          .center {
            text-align: center;
          }
          
          .social {
            padding: 20px;
          }
        </style>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-632301-20']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
  </head>
  <body>
    <div class="container-narrow">
      
      <div class="jumbotron">
        <h1>Hvor meget er dagen tiltaget?</h1>
        <p class="lead">Her kan du se hvor meget dagen er blevet længere siden sidste vintersolhverv. Godt for vinterdepressionen.</p>
      </div>
      
      <hr>
      
      <div class="row-fluid">
        <div class="span8 offset2 main">
          <% if ok %>
            <div class="lead center">
              <p>
                <% if place %>
                  I <%= place %> er dagen tiltaget med
                <% else %>
                  Dagen er tiltaget med
                <% end %>
              </p>
              <p><b><%= hours %> timer</b> og <b><%= minutes %> minutter</b></p>
              <p>siden <%= solstice %>.</p>
            </div>
          <% else %>
            <div class="alert alert-error">
              <h4>Teknisk uheld</h4>
              Din position kunne ikke lokaliseres.
            </div>
          <% end %>
        </div>
      </div>
      
      <hr>
      
      <div class="social center">
        <div class="fb-like" data-href="http://sidensolhverv.dk" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
        
        <div class="g-plusone" data-size="small" data-annotation="inline" data-width="200" data-href="http://sidensolhverv.dk"></div>
        
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sidensolhverv.dk" data-text="Se hvor meget dagen er tiltaget" data-via="fiskeben" data-lang="da">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>
      <div class="footer">
        <p><b>Hvorfor passer tallene ikke?</b> Beregningen af dagens længde er baseret på <a href="http://herbert.gandraxa.com/length_of_day.xml">denne formel</a> og kan afvige noget fra virkelighedens verden. Cheer up! Det går mod lysere tider! <a href="http://fiskeben.dk/2013/01/02/nyt-sideprojekt-hvor-meget-er-dagen-tiltaget-siden-vintersolhverv/">Her kan du læse mere om tanken bag sitet</a>.</p>
        <% if ok %>
        <p><b>Hvorfor er min position unøjagtig?</b> Din position bestemmes ud fra din IP-adresse med <a href="http://freegeoip.net">freegeoip.net</a>. Alt afhængig af din internetudbyder kan positionen variere fra den central, du er koblet til, til det sted hvor din internettrafik forlader din udbyders net og går over på andres. Dette er der desværre ikke så meget at gøre ved.</p>
        <% else %>
        <p><b>Hvorfor kan min position ikke findes?</b> Positionen bestemmes ud fra din IP adresse med <a href="http://freegeoip.net">denne tjeneste</a>. Prøv den, og <a href="mailto:ricco@fiskeben.dk">send mig en mail</a>, hvis den kan finde din lokation men denne side ikke kan.</p>
        <% end %>
        <p>Denne tjeneste er lavet af Ricco Førgaard. Jeg er <a href="http://twitter.com/fiskeben">@fiskeben på Twitter</a>, og jeg har <a href="http://fiskeben.dk">en blog</a>.</p>
      </div>
    </div>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=191091391034497";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <script type="text/javascript">
      window.___gcfg = {lang: 'da'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>