body {
  padding: 20px 0 40px 0;
  margin: 0;
}

.spinner {
  max-width: 50px;
}

#map-container {
  max-width: 100%;
}

code .method {
  color: #000;
  font-weight: bold;
}

@media (max-width: 991px) {
  .social>div {
    display: inline;
  }
}

@media (min-width: 768px) {
  #map_canvas {
    padding-top: 56.25%;
    height: 120px;
  }
  #map_canvas > div {
    position: static!important;
  }
  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 700px;
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  .jumbotron {
    margin: 60px 0;
    text-align: center;
  }
  .jumbotron h2 {
    font-size: 72px;
    line-height: 1;
  }
  .social {
    margin: 60px 0;
  }
  .social div {
    margin: 0 10px 10px 0 !important;
  }
}

@media (max-width: 767px) {
  body {
    margin: 10px;
  }
  #map-container {
    max-width: 100%;
  }
  #map_canvas {
    height: 200px;
  }
  .container-narrow > hr {
    margin: 20px 0;
  }
  .jumbotron {
    margin: 30px 0;
    text-align: center;
  }
  .jumbotron h2 {
    font-size: 36px;
    line-height: 1;
  }
  .social {
    margin: 30px 0 10px 0;
    display: block;
  }
  .social div {
    margin: 0 10px 10px 0 !important;
  }
}

.jumbotron h2 small {
  margin-left: 20px;
}

.center {
  text-align: center;
}
